* {
	margin:0;
	padding:0;
	background:white;
	border: 0;
	text-align:left;
}

p,h1,h2,h3 {
	color:black;
	font-style: normal;
	font-weight:normal;
}

a {
	color:blue;
	font-weight:normal;
}

a:hover {
	color:blue;
}